{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/add.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/add.css">
{% endblock %}

{% block description %}Détail Echec{% endblock %}

{% block key %}Détail Echec{% endblock %}

{% block title %} - {{ ip }}{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Détail Echec(s)- {{ ip }}</h1>

  {% for liste in listes %}
  <div>
    <label>Matricule : {{ liste.matricule_utilise }} / Mdp : {{ liste.mpd_utilise|slice(0, 20) }} / Détail : {{ liste.commentaire }}</label>
  </div>
  {% endfor %}

  <div class="btn">
    <a href="/delete/{{ ip|replace({'.': '-'}) }}">Débloquer</a>
  </div>
</section>
{% endblock %}

{% block script %}{% endblock %}
