{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}
{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/add.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/add.css">
{% endblock %}

{% block description %}Modification Administration{% endblock %}

{% block key %}Modification Administration{% endblock %}

{% block title %} - Mode Admin -> Modification{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Modification du mot de passe</h1>

  <form class="connexion" action="/edit/mdp/admin" method="post">
    <div>
      <label>Nom de la personne :</label>
      <select name="nom">
        {% for agent in ems %}
        <option value="{{ agent.ems_id }}">{{ agent.nom|capitalize }} {{ agent.prenom|capitalize }}</option>
        {% endfor %}
      </select>
    </div>

    <div>
      <label for="mdp">Nouveau Mot de passe</label>
      <input type="text" name="mdp" id="mdp" placeholder="Nouveau mot de passe" required>
    </div>

    <div class="btn">
      <button class="form_button" type="submit" name="button">Modifier</button>
    </div>
  </form>
</section>

<section class="contenu">
  <h1>Accès Bloqué</h1>

  <form class="connexion" action="/administration/details/echec" method="post">
    <div>
      <label>Nom du {{ _BDDFaction }} :</label>
      <select name="adresse">
        {% for echec in echecs %}
          <option value="{{ echec.adresse_ip }}">{{ echec.adresse_ip }} - {{ echec.NbEchecs }} échec(s)</option>
        {% else %}
          <option value="0">Rien à signaler</option>
        {% endfor %}
      </select>
    </div>

    <div class="btn">
      <button class="form_button" type="submit" name="button">Détail</button>
    </div>
  </form>
</section>

{# Modifier description médicaments #}
<section class="contenu">
  <h1>Description médicament</h1>

  <form class="connexion" method="post">
    <div>
      <label>Nom médicament :</label>
      <select id="med_id" onchange="changeDescriptionMedicament();">
        {% for medicament in medicaments %}
        <option value="{{ medicament.id }}">{{ medicament.nom|capitalize }}</option>
        {% else %}
        <option value="0">Aucun médicament enregistré</option>
        {% endfor %}
      </select>
    </div>

    {% if medicaments %}
    <div>
      <label for="mdp">Nouvelle description</label>
      <textarea name="med_descript" id="med_descript" placeholder="Entrer la description rapide du médicament"></textarea>
    </div>
    {% endif %}

    <div>
      <p id="confirm_med">Description modifiée</p>
    </div>

    <div class="btn">
      <button class="form_button" type="submit" name="button" onclick="editDescriptionMed();">Modifier</button>
    </div>
  </form>
</section>
{% endblock %}

{% block script %}
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
  document.getElementById("confirm_med").style.display = "none";
  changeDescriptionMedicament();
</script>
{% endblock %}
