<section class="info_personne">
  <h1 {% if civil.present == 0 %}style="color:#ff0000"{% endif %}>Fiche Citoyen</h1>
  <img class="round_profil" src="http://{{ _CopServeur }}/assets/img/identite/{{ civil.photo }}" alt="Photo {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}">
  <p><strong>Nom :</strong>{{ civil.nom|capitalize }}</p>
  <p><strong>Prénom :</strong>{{ civil.prenom|capitalize }}</p>
  <p><strong>Date de naissance :</strong>{{ civil.DOB|date("d/m/Y") }}</p>
  <p><strong>Téléphone :</strong>{{ civil.phone }}</p>
  <p><strong>Nationalité :</strong>{{ civil.nationality|upper }}</p>
  <p><strong>Sexe :</strong>{{ civil.sexe|upper }}</p>
  <p><strong>Groupe Sanguin :</strong>{{ civil.grp_sanguin|upper }}</p>
  <p><strong>Donneur d'organes :</strong>{% if civil.donneur == 1  %}Oui{% else %}Non{% endif %}</p>
  {% if _etat_.goBack == 1 %}
    <p><strong>Job :</strong>{{ civil.job }}</p>
  {% else %}
    <p><strong>Job :</strong><a href="{% if civil.job == _BDDFaction  %}/{{ _membreFaction }}/{{ ems.matricule }}{% endif %}">{{ civil.job|capitalize }}</a></p>
  {% endif %}
  <p><strong>PPA :</strong>{% if civil.ppa == 1  %}Oui{% else %}Non{% endif %}</p>
  <p><strong>Permis :</strong>{{ civil.permis }} points</p>
  {% if _etat_.goBack == 1 %}
    <div class="lien">
      <a href="/civil/{{ civil.id }}">Retourner sur la fiche de {{ civil.nom|capitalize }} {{ perso.prenom|capitalize }}</a>
    </div>
  {% else %}
    <div class="lien">
      <a href="/civil/{{ civil.id }}/impression">Imprimer le dossier</a>
    </div>

    <div class="lien">
      <a href="/civil/{{ civil.id }}/edit">Modifier la fiche</a>
    </div>
  {% endif %}
</section>
