{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/add.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/add.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/division_image.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/ordonnance.css">
{% endblock %}

{% block description %}Générer ordonnance{% endblock %}

{% block key %}Générer ordonnance{% endblock %}

{% block title %} - Générer ordonnance{% endblock %}

{% block main %}
<section class="contenu">
  <h1>Générer Ordonnance</h1>

  <form class="connexion" action="" method="POST">
    {# Sélection du citoyen #}
    <section class="div_content_photo">
      <section class="part_add">
        <div>
          <label>Citoyen :</label>
          {% set __ordonnance = true %}

          <select id="personne_type" name="id_civil" onchange="affiche_photo_personne();">
            {% for civil in civils %}
              <option value="{{ civil.id }}">{{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}</option>
            {% else %}
                {% set __ordonnance = false %}
                <option>Aucun civil disponible</option>
            {% endfor %}
          </select>
        </div>
      </section>

      <section class="part_img">
        <div>
          <img class="round_profil" id="image_civil" src="http://{{ _CopServeur }}/assets/img/identite/temp.png" alt="Photo Inconnu">
        </div>
      </section>
    </section>


    <div id="Liste_medicament">
      {% for i in 1..50 %}
        <section id="medicament_{{ i }}" class="ordonnance">
          {# Section de gauche #}
          <div id="nom_med_{{ i }}" class="left_part">
            <label>Nom médicament</label>
            <select id="liste_{{ i }}" onchange="affiche_suite({{ i }});">
              <option value="0">Sélection médicament</option>
              <option value="0">============================</option>
              {% for medicament in medicaments %}
                <option value="{{ medicament.id }}">{{ medicament.nom }}</option>
              {% else %}
                {% set __ordonnance = false %}
                <option>Aucun médicament disponible</option>
              {% endfor %}
            </select>
            <p id="desc_{{ i }}">deaz</p>
          </div>

          {# Section de droite #}
          <div id="content_{{ i }}" class="right_part">
            <div id="qtn_{{ i }}">
              <label>Quantité :</label>
              <input id="qtn_value_{{ i }}" value="1" type="number" min="1" max="5" placeholder="Quantité" required>
            </div>

            <div id="T_{{ i }}">
              <label>Période :</label>
              <input id="T_value_{{ i }}" value="1" type="number" min="1" max="21" placeholder="Périodes en jour" required>
            </div>

            <div id="frq_{{ i }}">
              <label>Fréquences :</label>
              <select id="frq_value_{{ i }}">
                <option value="1">Matin</option>
                <option value="2">Midi</option>
                <option value="3">Soir</option>
                <option value="4">Matin/Soir</option>
                <option value="5">Matin/Midi</option>
                <option value="6">Midi/Soir</option>
                <option value="7">Matin/Midi/Soir</option>
              </select>
            </div>
          </div>
        </section>
      {% endfor %}
    </div>

    {% if __ordonnance %}
      <div class="btn">
        <button class="form_button" type="submit" name="button" onclick="genererOrdonnance();">Enregistrer</button>
      </div>
    {% endif %}

  </form>
</section>



{% endblock %}

{% block script %}
<script src="/assets/script/ordonnance.js"></script>
<script src="/assets/script/event_saisie.js"></script>
<script type="text/javascript">
  affiche_photo_personne();
  initialisationContent(1);

  for (var i = 2; i <= 50; i++) {
    let element = document.getElementById(`medicament_${i}`);
    if (element) {
      initialisationContent(i);
      element.style.display = "none";
    }
  }
</script>
{% endblock %}
