{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{# Dossier Candidat #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/documents.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/candid.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/viewer.min.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/global/markdown.css">
{% endblock %}

{% block description %}Candidature {{ _nomFaction }}{% endblock %}

{% block key %}Candidature {{ _nomFaction }}{% endblock %}

{% block title %} Candidature {{ personne.info }}{% endblock %}

{% block main %}
  <form action="/dossier-candidat" method="GET">
    <section class="contenu">
      <h1>Candidature en cours</h1>
      <div>
        <label>Nom :</label>

        <select name="identifiant">
          {% for personne in attente %}
            <option value="{{ personne.id }}">{{ personne.info }}</option>
          {% else %}
            <option value="">Aucun candidat pour le moment</option>
          {% endfor %}
        </select>
      </div>

      {% if attente %}
        <div class="btn">
          <button class="form_button" type="submit">Afficher</button>
        </div>
      {% endif %}

    </section>
  </form>

  <form action="/dossier-candidat" method="GET">
    <section class="contenu">
      <h1>Candidature Refusée</h1>
      <div>
        <label>Nom :</label>

        <select name="identifiant">
          {% for personne in refuser %}
            <option value="{{ personne.id }}">{{ personne.info }}</option>
          {% else %}
            <option>Aucune candidature refusée pour le moment</option>
          {% endfor %}
        </select>
      </div>

      {% if refuser %}
        <div class="btn">
          <button class="form_button" type="submit">Afficher</button>
        </div>
      {% endif %}

    </section>
  </form>

  <form action="/dossier-candidat" method="GET">
    <section class="contenu">
      <h1>Candidature Acceptée</h1>
      <div>
        <label>Nom :</label>

        <select name="identifiant">
          {% for personne in accepter %}
            <option value="{{ personne.id }}">{{ personne.info }}</option>
          {% else %}
            <option value="">Aucune candidature acceptée pour le moment</option>
          {% endfor %}
        </select>
      </div>

      {% if accepter %}
        <div class="btn">
          <button class="form_button" type="submit">Afficher</button>
        </div>
      {% endif %}

    </section>
  </form>

  {% if personne == NULL %}
    <section class="contenu">
      <h1>Selectionner un candidat</h1>
    </section>
  {% else %}
    {% set __days = ['Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi', 'Dimanche'] %}
    {% set __hzs = ['am', 'pm', 'abend', 'night'] %}
    {% set __index = 0 %}
    {% for formulaire in formulaires %}
      <section class="contenu">
        <h1>{{ formulaire.section }}</h1>
        {% for question in formulaire.questions %}
          {% set __index = __index + 1 %}
          {% if question.type in ["text", "number"] %}
            <div>
              <p><strong>{{ question.ecole }}</strong>{{ attribute(personne.formulaires, "question_" ~ __index)|default("Réponse inconnue") }}</p>
            </div>
          {% endif %}

          {% if question.type == "list" %}
            <div>
              <p><strong>{{ question.ecole }}</strong>{{ attribute(question.responses, attribute(personne.formulaires, "question_" ~ __index))|default("Réponse inconnue") }}</p>
            </div>
          {% endif %}

          {% if question.type == "longtext" %}
            <div>
              <p><strong>{{ question.ecole }}</strong></p>
              <div class="markdown-body">
                {{ attribute(personne.formulaires, "question_" ~ __index)|default("Réponse inconnue") }}
              </div>
            </div>
          {% endif %}

          {% if question.type == "date" %}
            {% if attribute(personne.formulaires, "question_" ~ __index)|default(0) == 1 %}
              <div>
                <p><strong>{{ question.ecole }}</strong></p>
              </div>

              <section class="grille_dispo">
                <p></p>
                <p class="except">Matin</p>
                <p class="except">Après-midi</p>
                <p class="except">Soir</p>
                <p class="except">Nuit</p>
                {% for day in __days %}
                <p>{{ day }}</p>
                {% for hz in __hzs %}
                <p>{% if attribute(personne.formulaires, __index ~ "_" ~ day|slice(0, 3)|lower ~ "_" ~ hz)|default(null) %}X{% endif %}</p>
                {% endfor %}
                {% endfor %}
              </section>
            {% endif %}
          {% endif %}
        {% endfor %}
      </section>
    {% endfor %}

    <section class="contenu">
      <h1>Documents</h1>
      <div class="galerie">
        {% for attachment in personne.attachments %}
          <div title="{{ attachment }}" class="item" onclick="showPdf('http://{{ _siteVitrine}}/assets/documents/{{ attachment }}')">
            <img src="/assets/img/documents/doc_pdf.png" alt="PDF {{ attachment }}">
            <span class="titre-element">{{ attachment|slice(0, 10) }}</span>
          </div>
        {% endfor %}
      </div>
    </section>

    {% if personne.etat_act == 0 %}
      <section class="contenu">
        <h1>Accepter/Refuser</h1>
        <div class="Selection">
          <a href="/dossier-candidat/accepter/{{ personne.id }}">Accepter</a>
          <a href="/dossier-candidat/refuser/{{ personne.id }}">Refuser</a>
        </div>
      </section>
    {% endif %}
  {% endif %}

  <div id="show-pdf" value="false" class="black-screen">
    {% include "/documents/show-pdf.twig" %}
  </div>
{% endblock %}

{% block script %}
<script src="/assets/script/viewer.min.js"></script>
<script src="/assets/script/documents.js"></script>
{% endblock %}
