{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Fiche {{ _BDDFaction }}{% endblock %}

{% block key %}Fiche {{ _BDDFaction }}{% endblock %}

{% block title %} - Modification {{ perso.nom|capitalize }} {{ perso.prenom|capitalize }}{% endblock %}

{% block main %}
<form action="/civil/{{ perso.id }}/modification" method="post">
  <section class="info_personne">
    <h1 {% if perso.present == 0 %}style="color:#ff0000"{% endif %}>Fiche Citoyen</h1>
    <img src="http://{{ _CopServeur }}/assets/img/identité/{{ perso.photo }}" alt="Photo {{ perso.nom|capitalize }} {{ perso.prenom|capitalize }}">
    <p><strong>Nom :</strong>{{ perso.nom|capitalize }}</p>
    <p><strong>Prénom :</strong>{{ perso.prenom|capitalize }}</p>
    <p><strong>Date de naissance :</strong>{{ perso.DOB|date("d/m/Y") }}</p>
    <p><strong>Téléphone :</strong>{{ perso.phone }}</p>
    <p><strong>Nationalité :</strong>{{ perso.nationality|upper }}</p>
    <p><strong>Sexe :</strong>{{ perso.sexe|upper }}</p>
    <p><strong>Groupe Sanguin :</strong><textarea name="sang" rows="1">{{ perso.grp_sanguin }}</textarea></p>
    <p><strong>Donneur d'organes :</strong>
    <select name="organe">
      {% if perso.donneur == 1 %}
        <option value="1">Oui</option>
        <option value="0">Non</option>
      {% else %}
        <option value="0">Non</option>
        <option value="1">Oui</option>
      {% endif %}
    </select></p>
    <p><strong>Job :</strong><a href="{% if perso.job == _BDDFaction %}/{{ _membreFaction }}/{{ ems.matricule }}{% endif %}">{{ perso.job|capitalize }}</a></p>
    <p><strong>PPA :</strong>{% if perso.ppa == 1  %}Oui{% else %}Non{% endif %}</p>
    <p><strong>Permis :</strong>{% if perso.permis == 1  %}Oui{% else %}Non{% endif %}</p>
    <div class="btn_modif">
      <button class="form_button" type="submit" name="button">Appliquer la modification</button>
    </div>
  </section>
</form>


<section class="liste">
  <h1>Intervention</h1>

  {% for intervention in interventions %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>{{ intervention.nom_inter|capitalize }}</p>
    <a href="/intervention/{{ intervention.id }}">Consulter</a>
  </div>
  {% else %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucune intervention enregistrée</p>
  </div>
  {% endfor %}
</section>

<section class="liste">
  <h1>Liste arrêt de travail</h1>

  {% for arret in arrets %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>{{ arret.motif|slice(0, 20) }} ...</p>
    <a href="/arret-travail/{{ arret.id }}">Consulter</a>
  </div>
  {% else %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucun arrêt de travail délivré</p>
  </div>
  {% endfor %}
</section>

<section class="liste">
  <h1>Certificat Travail</h1>

  {% for certificat in certificats %}
  <div class="content">
    <p>{{ certificat.job_vise|capitalize }}</p>
    <p>
      {% if certificat.etat_job == 0 %}
      Refusé
      {% endif %}

      {% if certificat.etat_job == 1 %}
      Validé
      {% endif %}
    </p>
    <a href="/certificat-travail/{{ certificat.id }}">Consulter</a>
  </div>
  {% else %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucun passage pour un certificat de travail</p>
  </div>
  {% endfor %}
</section>

<section class="liste">
  <h1>Certificat PPA</h1>

  {% for ppa in ppas %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>
      {% if ppa.etat_ppa == 0 %}
      Refusé
      {% endif %}

      {% if ppa.etat_ppa == 1 %}
      Validé
      {% endif %}
    </p>
    <a href="/certificat-ppa/{{ ppa.id }}">Consulter</a>
  </div>
  {% else %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucun passage pour le certificat d'aptitude</p>
  </div>
  {% endfor %}
</section>

<section class="liste">
  <h1>Ordonnance</h1>
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Fonction indisponible pour le moment</p>
  </div>
</section>

</section>
{% endblock %}

{% block script %}{% endblock %}
