{# Modèle de page #}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Fiche Civil">
    <meta name="author" content="Xelyos Team - Thomas">
    <meta name="keywords" content="Fiche civil, {{ _nomFaction }}, Site Factice, {{ _jeuServeur }}, {{ _nomServeur }}">
    <title>Dossier Médicale n°{{ civil.id }}</title>

    <style media="screen">
      img {
        position: fixed;
        top: -45px; left: -45px;
        z-index: 0;
        max-width: 790px;
      }

      h1 {
        text-align: center;
        z-index: 1;
        margin-top: 50px;+
      }

      h2 {
        text-decoration: underline overline #FF3028;
        z-index: 1;
      }

      p {
        margin-left: 20px;
        z-index: 1;
      }
    </style>
  </head>

  <body>
    <img src="{{ img }}" alt="">

    <h1>Dossier Médicale n°{{ civil.id }}</h1>
    {% include "/templates/impression_civil.twig"%}

    <h2>Intervention</h2>
    {% for intervention in interventions %}
      <p>{{ intervention.enregistrer_le|date("d/m/Y") }} => {{ intervention.nom_inter|capitalize }}</p>
    {% else %}
      <p>Aucune intervention effectuée</p>
    {% endfor %}

  </body>

</html>
