{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{% extends "/impression/_model.twig" %}

{% block title %}Dossier médicale {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block titre %}Dossier médicale {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block main %}
  <h2>Intervention</h2>
  {% for intervention in interventions %}
    <p>{{ intervention.enregistrer_le|date("d/m/Y") }} => {{ intervention.nom_inter|capitalize }}</p>
  {% else %}
    <p>Aucune intervention effectuée</p>
  {% endfor %}
{% endblock %}
