{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{% extends "/impression/_model.twig" %}

{% block title %}Intervention sur {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block titre %}Intervention sur {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block main %}
  <h2>Information {{ _membreFaction }}</h2>
  <p><strong>Identifiant :</strong> {{ ems.matricule }}</p>
  <p><strong>Nom :</strong> {{ ems.nom }} {{ ems.prenom }}</p>

  <h2>Détails Intervention</h2>
  <p><strong>Titre :</strong> {{ intervention.nom_inter }}</p>
  <p><strong>Détails :</strong> {{ intervention.rapport }}</p>
{% endblock %}
