{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{% extends "/impression/_model.twig" %}

{% block title %}Ordonnance {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block titre %}Ordonnance {{ civil.nom }} {{ civil.prenom }}{% endblock %}

{% block main %}
  <h2>Information {{ _membreFaction }}</h2>
  <p><strong>Identifiant :</strong> {{ ems.matricule }}</p>
  <p><strong>Nom :</strong> {{ ems.nom }} {{ ems.prenom }}</p>

  <h2>Liste Médicaments</h2>
  <p><strong>Délivré le :</strong> {{ ordonnance.enregistrer_le|date("d/m/Y") }}</p>
  {% for medicament in medicaments %}
    <hr>
    <h3>{{ medicament.nom_med }}</h3>
    <p><strong>Description :</strong> {{ medicament.description_med }}</p>
    <p><strong>Période :</strong> Pendant {{ medicament.periode }} jour(s)</p>
    <p><strong>Quantité :</strong> {{ medicament.quantite }} comprimé(s)/application(s)/gélule(s)/etc...</p>
    <p><strong>Fréquence :</strong>
      {% if medicament.frequence == 1 %}Matin{% endif %}
      {% if medicament.frequence == 2 %}Midi{% endif %}
      {% if medicament.frequence == 3 %}Soir{% endif %}
      {% if medicament.frequence == 4 %}Matin et Soir{% endif %}
      {% if medicament.frequence == 5 %}Matin et Midi{% endif %}
      {% if medicament.frequence == 6 %}Midi et Soir{% endif %}
      {% if medicament.frequence == 7 %}Matin, Midi et Soir{% endif %}
    </p>
  {% endfor %}
{% endblock %}
