{# Modèle de page #}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Fiche Civil">
    <meta name="author" content="Xelyos Team - Thomas">
    <meta name="keywords" content="Fiche civil, {{ _nomFaction }}, Site Factice, {{ _jeuServeur }}, {{ _nomServeur }}">
    <title>Ordonnance n°{{ ordonnance.id }}</title>

    <style media="screen">
      img {
        position: fixed;
        top: -45px; left: -45px;
        z-index: 0;
        max-width: 790px;
      }

      h1 {
        text-align: center;
        z-index: 1;
        margin-top: 50px;+
      }

      h2 {
        text-decoration: underline overline #FF3028;
        z-index: 1;
      }

      p {
        margin-left: 20px;
        z-index: 1;
      }
    </style>
  </head>

  <body>
    <img src="{{ img }}" alt="">

    <h1>Ordonnance n°{{ ordonnance.id }}</h1>
    {% include "/templates/impression_civil.twig"%}

    <h2>Information {{ _membreFaction }}</h2>
    <p><strong>Identifiant :</strong> {{ ems.matricule }}</p>
    <p><strong>Nom :</strong> {{ ems.nom|capitalize }} {{ ems.prenom|capitalize }}</p>

    <h2>Liste Médicaments</h2>
    <p><strong>Délivré le :</strong> {{ ordonnance.enregistrer_le|date("d/m/Y") }}</p>
    {% for medicament in medicaments %}
    <hr>
    <h3>{{ medicament.nom_med }}</h3>
    <p><strong>Description :</strong> {{ medicament.description_med }}</p>
    <p><strong>Période :</strong> Pendant {{ medicament.periode }} jour(s)</p>
    <p><strong>Quantité :</strong> {{ medicament.quantite }} comprimé(s)/application(s)/gélule(s)/etc...</p>
    <p><strong>Fréquence :</strong>
      {% if medicament.frequence == 1 %}Matin{% endif %}
      {% if medicament.frequence == 2 %}Midi{% endif %}
      {% if medicament.frequence == 3 %}Soir{% endif %}
      {% if medicament.frequence == 4 %}Matin et Soir{% endif %}
      {% if medicament.frequence == 5 %}Matin et Midi{% endif %}
      {% if medicament.frequence == 6 %}Midi et Soir{% endif %}
      {% if medicament.frequence == 7 %}Matin, Midi et Soir{% endif %}
    </p>
    {% endfor %}


  </body>

</html>
