{#
  Le projet All in One est un produit Xelyos mis à disposition gratuitement
  pour tous les serveurs de jeux Role Play. En échange nous vous demandons de
  ne pas supprimer le ou les auteurs du projet.
  Created by : Xelyos - Aros
  Edited by :
#}

{% extends "/impression/_model.twig" %}

{% block title %}Certificat de Travail : {{ certif.job_vise }}{% endblock %}

{% block titre %}Certificat de Travail : {{ certif.job_vise }}{% endblock %}

{% block main %}
  <h2>Information {{ _membreFaction }}</h2>
  <p><strong>Identifiant :</strong> {{ ems.matricule }}</p>
  <p><strong>Nom :</strong> {{ ems.nom|capitalize }} {{ ems.prenom|capitalize }}</p>

  <h2>Détails</h2>
  <p><strong>Etat :</strong> {% if certif.etat_job == 0 %}Refusé{% else %}Validé{% endif %}</p>
  <p><strong>Date :</strong> {{ certif.enregistrer_le|date("d/m/Y") }}</p>
  <p><strong>Motif :</strong> {{ certif.motif }}</p>
{% endblock %}
