{# Modèle de page #}
<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8"/>
    <meta name="description" content="Fiche Civil">
    <meta name="author" content="Xelyos Team - Thomas">
    <meta name="keywords" content="Fiche civil, {{ _nomFaction }}, Site Factice, {{ _jeuServeur }}, {{ _nomServeur }}">
    <title>Certificat de Travail : {{ certif.job_vise }}</title>

    <style media="screen">
      img {
        position: fixed;
        top: -45px; left: -45px;
        z-index: 0;
        max-width: 790px;
      }

      h1 {
        text-align: center;
        z-index: 1;
        margin-top: 50px;+
      }

      h2 {
        text-decoration: underline overline #FF3028;
        z-index: 1;
      }

      p {
        margin-left: 20px;
        z-index: 1;
      }
    </style>
  </head>

  <body>
    <img src="{{ img }}" alt="">

    <h1>Certificat de Travail : {{ certif.job_vise }}</h1>
    {% include "/templates/impression_civil.twig"%}

    <h2>Information {{ _membreFaction }}</h2>
    <p><strong>Identifiant :</strong> {{ ems.matricule }}</p>
    <p><strong>Nom :</strong> {{ ems.nom|capitalize }} {{ ems.prenom|capitalize }}</p>

    <h2>Détails</h2>
    <p><strong>Etat :</strong> {% if certif.etat_job == 0 %}Refusé{% else %}Validé{% endif %}</p>
    <p><strong>Date :</strong> {{ certif.enregistrer_le|date("d/m/Y") }}</p>
    <p><strong>Motif :</strong> {{ certif.motif }}</p>
  </body>

</html>
