{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/markdown.css">
{% endblock %}

{% block description %}Arret travail{% endblock %}

{% block key %}Arret travail{% endblock %}

{% block title %} - Arret travail{% endblock %}

{% block main %}

{# Fiche Civil #}
{% set _etat_ = {'goBack': 1} %}
{% include "/templates/fiche_civil.twig" with _etat_ %}

<section class="information_casier">
  <h1>Certificat Arrêt de Travail</h1>
  <img src="/assets/img/logo.png" alt="">
  <p>
    Par ce présent document le centre Hospitalier de {{ _nomServeur }} atteste l’arrêt
    de travail de <strong>{% if civil.sexe == "M" %}Monsieur{% else %}Madame{% endif %} {{ civil.nom }} {{ civil.prenom }}</strong>
    pour la ou les raisons suivantes :
   </p>
   <div class="markdown-body">
     {{ arret.motif|raw }}
   </div>
   <p>Cet arrêt de travail prend effet à la date du <strong>{{ arret.enregistrer_le|date("d/m/Y") }}
   </strong> au <strong>{{ arret.fin_le|date("d/m/Y") }}</strong>.
   </p>
   <p>En cas de prolongation, un nouveau certificat vous sera remis.</p>
   <p><strong>Délivrée par : </strong><a href="/{{ _membreFaction }}/{{ ems.matricule }}">{% if arret.enregistrer_name %}{{ arret.enregistrer_name }}{% else %}{{ ems.grade }} {{ ems.nom }}{% endif %}</a></p>
   <div class="lien">
     <a href="/arret-travail/{{ arret.id }}/impression">Imprimer le certificat</a>
   </div>
</section>
{% endblock %}

{% block script %}{% endblock %}
