{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/markdown.css">
{% endblock %}

{% block description %}Certificat Travail{% endblock %}

{% block key %}Certificat Travail{% endblock %}

{% block title %} - Certificat Travail{% endblock %}

{% block main %}

{# Fiche Civil #}
{% set _etat_ = {'goBack': 1} %}
{% include "/templates/fiche_civil.twig" with _etat_ %}

<section class="information_casier">
  <h1>Certificat d'aptitude pour l'accession au métier de {{ arret.job_vise|capitalize }}</h1>
  <img src="/assets/img/logo.png" alt="">
  <p><strong>Nom : </strong>{{ civil.nom }} {{ civil.prenom }}</p>
  <p><strong>Date de naissance : </strong>{{ civil.DOB|date("d/m/Y") }}</p>
  <p><strong>Profession souhaité : </strong>{{ arret.job_vise }}</p>
  <p>Suite à votre test d'aptitude.</p>
  <p>Nous <strong> {% if arret.etat_job == 0 %}refusons{% else %}validons{% endif %}</strong> votre test d'aptitude.</p>
  <p><strong>Motif :</strong></p>
  <div class="markdown-body">
    {{ arret.motif|raw }}
  </div>
  <p><strong>Date de passage : </strong>{{ arret.enregistrer_le|date("d/m/Y") }}</p>
  <p><strong>{{ _membreFaction }} : </strong><a href="/{{ _membreFaction }}/{{ ems.matricule }}">{% if arret.enregistrer_name %}{{ arret.enregistrer_name }}{% else %}{{ ems.grade }} {{ ems.nom }}{% endif %}</a></p>
  <div class="lien">
    <a href="/certificat-travail/{{ arret.id }}/impression">Imprimer le certificat</a>
  </div>
</section>
{% endblock %}

{% block script %}{% endblock %}
