{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Fiche {{ _BDDFaction }}{% endblock %}

{% block key %}Fiche {{ _BDDFaction }}{% endblock %}

{% block title %} - {{ agent.grade|capitalize }} {{ agent.nom|capitalize }}{% endblock %}

{% block main %}
<section class="info_personne">
  <h1>Fiche {{ _BDDFaction }}</h1>
  <img src="http://{{ _CopServeur }}/assets/img/identité/{{ agent.photo }}" alt="Photo {{ agent.nom|capitalize }} {{ agent.prenom|capitalize }}">
  <p class="description">{{ agent.note }}</p>
  <p><strong>Nom :</strong>{{ agent.nom|capitalize }}</p>
  <p><strong>Prénom :</strong>{{ agent.prenom|capitalize }}</p>
  <p><strong>Grade :</strong>{{ agent.grade|capitalize }}</p>
  <p><strong>Matricule :</strong>{{ agent.matricule }}</p>
  <p><strong>Téléphone :</strong>{{ agent.telephone }}</p>
  <p><strong>Nationalité :</strong>{{ agent.nationality|upper }}</p>
  <p><strong>Sexe :</strong>{{ agent.sexe|capitalize }}</p>
  <p><strong>Groupe Sanguin :</strong>{{ agent.sang|upper }}</p>
  <p><strong>Donneur d'organes :</strong>{% if agent.donneur == 1  %}Oui{% else %}Non{% endif %}</p>
  {% if agent.matricule == _agent.matricule %}
  <div class="lien">
    <a href="/nouveau-mot-de-passe">Modifier le mot de passe</a>
  </div>
  {% endif %}

  {% if _agent.hab_1 == 2 %}
  <div class="lien">
    <a href="/{{ _membreFaction }}/{{ agent.matricule }}/edit">Modifier la fiche</a>
  </div>
  {% endif %}
</section>

<section class="habilitation">
  <h1>Habilitation</h1>
  <div class="grille">
    {# Mise en forme variable #}
    {% set __superListe = [
        {'type': _Hab1, 'value': agent.hab_1 },
        {'type': _Hab2, 'value': agent.hab_2 },
        {'type': _Hab3, 'value': agent.hab_3 },
        {'type': _Hab4, 'value': agent.hab_4 },
        {'type': _Hab5, 'value': agent.hab_5 },
        {'type': _Hab6, 'value': agent.hab_6 },
        {'type': _Hab7, 'value': agent.hab_7 },
        {'type': _Hab8, 'value': agent.hab_8 },
        {'type': _Hab9, 'value': agent.hab_9 },
        {'type': "vide", 'value': "" },
        {'type': _Hab10, 'value': agent.hab_10 },
        {'type': _Hab11, 'value': agent.hab_11 },
        {'type': _Hab12, 'value': agent.hab_12 },
        {'type': _Hab13, 'value': agent.hab_13 },
        {'type': _Hab14, 'value': agent.hab_14 },
        {'type': _Hab15, 'value': agent.hab_15 }
      ]
    %}

    {% for __item in __superListe %}
      {% if __item.type != "" and __item.type != "vide" %}
        <p class="{% if __item.value == 2 %}green{% elseif __item.value == 1 %}orange{% else %}red{% endif %}">{{ __item.type }}</p>
      {% elseif __item.type == "vide" %}
        <p></p>
      {% endif %}
    {% endfor %}
  </div>
</section>

<section class="liste">
  <h1>Véhicules</h1>
  {% for voiture in voitures %}
  <div class="content">
    <img src="http://{{ _CopServeur }}/assets/img/vehicule/{{ voiture.lien }}" alt="Image {{ voiture.nom }}">
    <p>{{ voiture.plaque|upper }}</p>
  </div>
  {% else %}
  <div class="content">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Pas de véhicule enregistré</p>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block script %}{% endblock %}
