{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/profil.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/profil.css">
{% endblock %}

{% block description %}Détail Intervention{% endblock %}

{% block key %}Détail Intervention{% endblock %}

{% block title %} - Intervention {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}{% endblock %}

{% block main %}

{# Fiche Civil #}
{% set _etat_ = {'goBack': 1} %}
{% include "/templates/fiche_civil.twig" with _etat_ %}

<section class="information_casier">
  <h1>Informations Intervention</h1>
  <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
  <p><strong>Nom :</strong>{{ intervention.nom_inter }}</p>
  <p><strong>Enregistré par :</strong><a href="/{{ _membreFaction }}/{{ ems.matricule }}">{{ ems.grade|capitalize }} {{ ems.nom|capitalize }}</a></p>
  <p><strong>Enregistré le :</strong>{{ intervention.enregistrer_le|date("d/m/Y") }}</p>
  <p><strong>Rapport :</strong></p>
  <p class="remarque">{{ intervention.rapport }}</p>
  <div class="lien">
    <a href="/impression/intervention/{{ intervention.inter_id }}">Imprimer le rapport</a>
  </div>
</section>
{% endblock %}

{% block script %}{% endblock %}
