{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/recherche.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/recherche.css">
{% endblock %}

{% block description %}Recherche Civil{% endblock %}

{% block key %}Recherche Civil{% endblock %}

{% block title %} - Recherche Civil{% endblock %}

{% block main %}
<section>
  <form class="recherche" action="/civil" method="GET">
    <input type="search" name="civil_name"placeholder="{% if nom != NULL %}{{ nom|capitalize }}{% else %}Nom{% endif %}">
    <input type="search" name="civil_firstname" placeholder="{% if prenom != NULL %}{{ prenom|capitalize }}{% else %}Prénom{% endif %}">
    <input type="search" name="civil_phone" placeholder="{% if phone != NULL %}{{ phone|capitalize }}{% else %}Téléphone{% endif %}">
    <button>Search</button>
  </form>

  {% for civil in civils %}
  <div class="Resultat">
    <img class="round_profil" src="http://{{ _CopServeur }}/assets/img/identité/{{ civil.photo }}" alt="Photo de {{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}">
    <p>{{ civil.nom|capitalize }} {{ civil.prenom|capitalize }}</p>
    <a href="/civil/{{ civil.id }}">Consulter</a>
  </div>
  {% else %}
  <div class="Resultat">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucune personne ne correspond à votre recherche</p>
    <a href="#"></a>
  </div>
  {% endfor %}
</section>
{% endblock %}

{% block script %}{% endblock %}
