{# Page vierge pour les twig #}
{% extends "_base.twig" %}

{% block style %}
<link rel="stylesheet" type="text/css" href="/assets/styles/global/recherche.css">
<link rel="stylesheet" type="text/css" href="/assets/styles/phone/recherche.css">
{% endblock %}

{% block description %}Liste {{ _BDDFaction }}{% endblock %}

{% block key %}Liste {{ _BDDFaction }}{% endblock %}

{% block title %} - Liste {{ _BDDFaction }}{% endblock %}

{% block main %}
  <form class="recherche" action="/{{ _membreFaction }}" method="GET">
    <input type="search" name="ems_name"placeholder="{% if nom == NULL %}Nom{% else %}{{ nom|capitalize }}{% endif %}">
    <input type="search" name="ems_firstname" placeholder="{% if prenom == NULL %}Prénom{% else %}{{ prenom|capitalize }}{% endif %}">
    <input type="search" name="ems_matricule" placeholder="{% if matricule == NULL %}Matricule{% else %}{{ matricule }}{% endif %}">
    <button>Search</button>
  </form>

  {% for agent in agents %}
  <div class="Resultat">
    <img class="round_profil" src="http://{{ _CopServeur }}/assets/img/identité/{{ agent.photo}}" alt="Photo de {{ agent.nom|capitalize }} {{ agent.prenom|capitalize }}">
    <p>{{ agent.nom|capitalize }} {{ agent.prenom|capitalize }}</p>
    <a href="/{{ _membreFaction }}/{{ agent.matricule }}">Consulter</a>
  </div>
  {% else %}
  <div class="Resultat">
    <img src="/assets/img/logo.png" alt="Logo {{ _nomFaction }}">
    <p>Aucune personne ne correspond à votre recherche</p>
  </div>
  {% endfor %}
  </section>
{% endblock %}

{% block script %}{% endblock %}
